html, body{
    margin: 0;
}

.items {
    display: flex;
}

.item {
    width: 200px;
    height: 200px;
    background: #ccc;
    padding: 10px; 
    margin: 10px;
    box-sizing: border-box;
}

.item--active{
    border: 3px solid red;
}